<p>
  <label class="tgl">
    <input type="checkbox" checked [(ngModel)]="currentToggle"
    (change)="onChangeToggle()"/>
    <span class="tgl_body">
      <span class="tgl_switch"></span>
      <span class="tgl_track">
        <span class="tgl_bgd"></span>
        <span class="tgl_bgd tgl_bgd-negative"></span>
      </span>
    </span>
  </label>
</p>
